{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block title %}
  Авторизация
{% endblock %}

{% block content %}
  {% if next %}
    {% if user.is_authenticated %}
      <p>
        У вашего аккаунта нет доступа к этой странице.
        Чтобы продолжить, войдите в систему с аккаунтом,
        у которого есть доступ.
      </p>
    {% else %}
      <p>
        Пожалуйста, войдите в систему,
        чтобы просматривать эту страницу.
      </p>
    {% endif %}
  {% endif %}

  <div class="card col-6 m-3 mx-auto">
    <div class="card-header text-center">
      Авторизация
    </div>
    <div class="card-body">
      <form action="{% url 'login' %}" method="post" class="mb-3">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="text-center">
          {% bootstrap_button button_type="submit" content="Войти" %}
        </div>
      </form>
      <div class="text-center">
        <p class="mb-1"><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
        <p class="mb-1"><a href="{% url 'registration' %}">Зарегистрироваться</a></p>
      </div>
    </div>
  </div>
{% endblock %}