{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
	Смена пароля
{% endblock %}

{% block content %}
	<div class="card col-6 m-3 mx-auto">
    <div class="card-header text-center">
      Смена пароля
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="text-center">
          {% bootstrap_button button_type="submit" content="Сменить" %}
        </div>
      </form>
    </div>
  </div>
{% endblock %}