{% load static %}
{% load django_bootstrap5 %}

<header>
  <nav class="navbar bg-red">
    <div class="container-fluid pe-0">
      <div class="nav">
        <a href="{% url 'games:game_list' %}" class="navbar-brand text-white col">GK</a>
        <div class="dropdown nav-item">
          <a href="#" class="nav-link text-white dropdown-toggle" role="button" id="dropdownMenuButton" 
                  data-bs-toggle="dropdown" aria-expanded="false"
          >
            Меню
          </a>
          <ul class="dropdown-menu bg-red border-0 p-0 pt-1" aria-labelledby="dropdownMenuButton">
            <li class="p-0"><a href="{% url 'games:game_list' %}" class="dropdown-item text-white p-2">Игры</a></li>
            <li class="p-0"><a href="{% url 'developers:developer_list' %}" class="dropdown-item text-white p-2">Разработчики</a></li>
            <li class="p-0"><a href="{% url 'publishers:publisher_list' %}" class="dropdown-item text-white p-2">Издатели</a></li>
            <li class="p-0"><a href="{% url 'games:genre_list' %}" class="dropdown-item text-white p-2">Жанры</a></li>
          </ul>
        </div>
      </div>

      <form class="d-flex col-5" action="{% url 'games:game_list' %}">
        <input type="search" class="form-control" placeholder="Поиск..." aria-label="search" name="search_text">
        <button type="submit" class="btn text-white">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-search"
               viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg>
        </button>
        <div class="dropdown">
          <button class="btn text-white dropdown-toggle" type="button" id="dropdownFilterButton"
                  data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filter"
                 viewBox="0 0 16 16">
              <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5m-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
            </svg>
          </button>
          <div class="dropdown-menu dropdown-menu-end w-100 px-3 pt-4 filter-dropdown"
               aria-labelledby="dropdownFilterButton">
            {% bootstrap_form filter_form %}
          </div>
        </div>
      </form>
      {% if request.user.is_authenticated %}
        <div class="nav nav-item dropdown p-0">
          <a href="#" class="nav-link dropdown-toggle text-white" id="navbarDropdown"
             role="button" data-bs-toggle="dropdown" aria-expanded="false"
          >
            {{ request.user.username }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end w-auto bg-red border-0 p-0 pt-1" aria-labelledby="navbarDropdown">
            <li class="p-0"><a href="{% url 'users:user_detail' pk=request.user.id %}"
                               class="dropdown-item text-white p-2">Профиль</a></li>
            <li class="p-0">
              <form action="{% url 'logout' %}" method="post" class="btn-">
                {% csrf_token %}
                <button type="submit" class="w-100 dropdown-item text-white p-2">Выход</button>
              </form>
            </li>
          </ul>
        </div>

      {% else %}
        <a href="{% url 'login' %}" class="nav nav-pills nav-link nav-item text-white">Войти</a>
      {% endif %}

    </div>
  </nav>
</header>