{% extends 'base.html' %}

{% block title %}
  {{ object.name }}
{% endblock %}

{% block content %}
  <div class="row mb-3">
    <h1>{{ object.name }}</h1>
    <p>Разработчик</p>
    {% if object.country %}
      <p>Страна: {{ object.country }}</p>
    {% endif %}
  </div>
  <div class="row mb-5">
    <p class="fw-bold fs-4 mb-1">Игры разработчика:</p>
    <div class="row row-cols-1 row-cols-xl-5 row-cols-lg-4 row-cols-md-3 row-cols-sm-1 g-3 mt-1">
      {% for game in object.games.all %}
        <div class="col">
          <div class="card">
            <a href="{% url 'games:game_detail' pk=game.id %}" class="text-decoration-none">
              <img src="{{ game.poster.url }}" alt="" class="card-img">
              <div class="card-body p-0">
                <p class="card-title text-center text-black fw-bold m-0 py-2 px-1">
                  {{ game.name }}
                </p>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}